* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
    --orange: #e04b37;
    --black: #333;
    --yellow: #f5aa09;
}

body{
    background-color:var(--white);
    max-width: 1440px;
    margin: 0 auto;

}

/* part1 header create */
nav{
    background-color: var(--white);
    width: 100%;

    .container{
        border: 1px solid red;
        display: flex;
        width: 100%;
        height: 60px;  /* ความสูง ถ่ายทอดลงไป */
        justify-content: space-between;
        align-items: center;

        .logo{
            display: block;
            height: 100%;
            a{
                display: block;
                height: 100%;

                img{
                    display: block;
                    height: 100%;
                    margin-left: 0.5rem;

                }
            }
        }

        .menu{
            display: block;
            height: 100%;

            ul{
                display: flex;
                height: 100%;
                align-items: center;
                margin: 0;
                padding: 0;
                list-style: none;

                li{
                    display: flex;
                    height: 100%;

                    a{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 100%;
                        padding: 0 1.5rem;
                        text-decoration: none;
                        /* ป้องกันขึ้นบรรทัดใหม่*/
                        white-space: nowrap;
                        /* เพิ่มลูกเล่นให้สีจางลง */
                        transition: background-color 0.2s;
                        
                        
                    }

                    #l-log{
                        text-decoration: none;
                        color: var(--black);
                        background-color: var(--white);
                    }


                }
            }
        }
    }
}

section{

}