* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --white: #fff;
}

body{
    background-color:var(--white);
    max-width: 1440px;

}

/* part1 header create */
header{
    background-color: var(--white);
    width: 100%;

    .container{
        border: 10px solid red;
        display: flex;
        width: 100%;
        height: 150px;
        justify-content: space-between;
        align-items: center;

        .logo{
            display: block;
            height: 100%;
            a{
                display: block;
                height: 100%;

                img{
                    display: block;
                    height: 100;

                }
            }
        }

        .menu{
            display: block;
            height: 100%;

            ul{
                display: flex;
                height: 100%;
                align-items: center;
            }
        }
    }
}